$primary: #037971; // 主要深青綠色
$secondary: #75c0b1; // 淺青綠色
$accent: #ffb852; // 橘色強調色

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #5bce94;
$negative: #fa5c7c;
$info: #39afd1;
$warning: #ffc35a;
$disabled: #c0c0c0;